

HELP.md
target/
build/
out/


.mvn/wrapper/maven-wrapper.jar


.env
.env.*
.env.local


application-local.properties



logs/
*.log


*.tmp
*.bak
*.swp


.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache


.idea/
*.iml
*.ipr
*.iws


.vscode/


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.DS_Store
Thumbs.db



!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
*.jar
*.war
*.ear

hs_err_pid*
replay_pid*