<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Adinath Dental | Eye Care Clinic</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"  th:href="@{/css/style.css}">
     <link rel="stylesheet" th:href="@{/css/appointment.css}">

</head>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>
<section class="appointment-shloka-section">

    <div class="appointment-shloka-card">

        <span class="corner top-left"></span>
        <span class="corner top-right"></span>
        <span class="corner bottom-left"></span>
        <span class="corner bottom-right"></span>

        <div class="shloka-symbol-wrapper">

            <img src="/images/appointment/healing-kalash.svg"
                 alt="Healing Symbol"
                 class="healing-symbol">

        </div>

        <h1 class="appointment-shloka">

            आरोग्यं परमं भाग्यं<br>
            स्वास्थ्यं सर्वार्थसाधनम् ॥

        </h1>

        <p class="appointment-shloka-hindi">

            अच्छा स्वास्थ्य जीवन का सबसे बड़ा सौभाग्य है।

        </p>

        <p class="appointment-shloka-english">

            Good health is life's greatest blessing and the foundation
            of every meaningful pursuit.

        </p>

    </div>

</section>




    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>